<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise1</title>
</head>
<body>
    <ol start="1" value="A">
        <li><a href="https://youtube.com">Youtube</a></li>
        <li><a href="https://google.com">Google</a></li>
        <li><a href="https://www.hotstar.com/in/home">Hotstar</a></li>
        <li><a href="https://github.com/codedbygunnaj">Github</a></li>
        <li><a href="https://gunaj-p-chugh.vercel.app">Portfolio</a></li>
    </ol>
</body>
</html>